@media (min-width: 768px) {

    #menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        padding: 1rem;
    }

    .container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}